.guess-meter {
    font-size: 1.8em;
    color: black;
    padding-bottom: 0.5em;
    margin: 0;
    padding: 0;
    border: 0;
}

.guess-count {
    color: #f39c12;
    font-weight: 700;
    font-size: 1.5em;
}