
.guess-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}



input {

    margin: 0.8em auto 0;
    width: 90%;
    height: 50px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  

}
input.guess-input {
text-align: center;
font-size: 2em;
margin: 0;
margin-top: 0.8em;
margin-bottom: 0.8em;
padding: 0;


}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  appearance: none; 
  margin: 0; 
}

input.guess-button {
    background: #1F253D;
border: solid 1px #1f253d;
color: #95a5a6;
text-align: center;

font-size: 2em;
padding: 0;
margin: 0;
margin-bottom: 0.8em;
cursor: pointer;

transition: 1s ease-in-out;
} 

 input.guess-button:hover {
    background:#e64c65;
    color: #fff;
} 



