.main-body {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #3A4261;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


